/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.bodycontainer { max-height: 450px; width: 100%; margin: 0; overflow-y: auto; }

.table-scrollable { margin: 0; padding: 0; }

.td-nowrap { white-space: nowrap; }

.chart {
    min-width: 300px;
    width: 900px;
    height: 400px;
}