<h1 class="text-center" xmlns="http://www.w3.org/1999/html">Population Analyzer</h1>
<p class="text-center lead">Analyze the world population with tabular and chart views.</p>

<!-- Input section -->
<div class="well well-lg">
    <h4 class="text-center">We will analyze the data provided in the file <em>world-pop.xml</em>.</h4>
    <p class="text-center">
        <button type="button" class="btn btn-success btn-lg" ng-click="getData()">Load Data</button>
    <p/>
    <h4 class="text-center text-muted">In the future, you should be able to drag-and-drop an input file here.</h4>
</div>

<!-- Once the loading is done -->
<div id="results" ng-show="loadingDone">
    <p class="lead text-center">
        Processed the population of {{ countries.length }} countries/areas between the years
        {{ startYear }} and {{ endYear }}.
    </p>

    <!-- Load more/all -->
    <div class="text-center" ng-show="totalDisplayed < countries.length">
        <p ng-show="totalDisplayed == 20">
            Showing only {{ totalDisplayed }} of {{ countries.length }} countries/areas to reduce initial load time.
        </p>
        <p ng-show="totalDisplayed > 20">
            Showing {{ totalDisplayed }} of {{ countries.length }} countries/areas.
        </p>
        <button type="button" class="btn btn-sm btn-default" ng-click="loadMore()">Load more</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="loadAll()">Load all</button>
    </div>

    <!-- Table view header -->
    <div id="table" class="page-header">
        <h2>Tabular View
            <small>Scroll and browse through data and filter by name.</small>
        </h2>
    </div>

    <!-- Search the table -->
    <!--<div class="row">-->
        <!--<p class="col-md-4">-->
            <!--<input type="search" class="form-control" placeholder="Search by country/area name"-->
                   <!--ng-model="search.name" />-->
        <!--</p>-->
    <!--</div>-->

    <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->

    <!-- Table view -->
    <div class="table-responsive bodycontainer">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>Country or Area</th>
                <th ng-repeat="year in years">
                    {{ year.value }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="country in countries | filter:search:name | limitTo:totalDisplayed">
                <td class="td-nowrap">{{ country.name }}</td>
                <td ng-repeat="entry in country.entries.slice(startYear, endYear + 1)">
                    {{ entry }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br />

    <!-- Chart view header -->
    <div id="chart" class="page-header">
        <h2>Chart View
            <small> Visualize the data using a line chart or a scatter chart.</small>
        </h2>

    </div>

    <!-- Chart selection -->
    <div class="row">

        <!-- Select countries/areas -->
        <div class="col-md-6">
            <p>Select countries/areas to be displayed on the chart.</p>
            <select id="chosen-countries" multiple chosen="countries" class="form-control"
                    ng-model="selectedCountryCodes"
                    ng-options="country.code as country.name for country in (filteredCountries = (countries | limitTo:totalDisplayed))"
                    data-placeholder="Choose countries/areas" ng-change="addOrRemoveCountry()">
            </select>
        </div>

        <!-- Select type of chart -->
        <div class="col-md-3 col-md-offset-2" >
            <p>Chart type</p>
            <select ng-model="chartType" ng-change="changeChartType()">
                <option value="line" style="font-size: 14px; font-family: Helvetica;">Line chart</option>
                <option value="scatter" style="font-size: 14px; font-family: Helvetica;">Scatter chart</option>
            </select>
        </div>
    </div>
    <br />

    <!-- Chart container -->
    <div class="row">
        <div id="chartContainer" class="col-md-10 chart"></div>
    </div>
    <br />
    <p>Click and drag to select points on the chart. Select an empty region to clear current selection.</p>
    <!-- Chart log -->
    <div class="row" style="min-height: 300px;">
        <div ng-show="selectionLog.length > 0">
            <h4>Log of selected points:</h4>
            <div ng-repeat="series in selectionLog">
                <em>{{ series.seriesName }}:</em><br />
                [
                <small ng-repeat="point in series.selectedPoints">
                    <strong>{{ point.x }}:</strong> {{ point.y }},
                </small>
                ]<br /><br />
            </div>
        </div>
    </div>

</div>



